@model EMuhasebeWeb.Models.User
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<h2>@Localizer["DeleteUser"]</h2>
<hr />

<div>
    <h5>@Localizer["AreYouSure"]</h5>
    <p>@Model.FullName - @Model.Email</p>

    <form asp-action="Delete">
        <input type="hidden" asp-for="UserID" />
        <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
        <a asp-action="Index" class="btn btn-secondary">@Localizer["Cancel"]</a>
    </form>
</div>