model List<Product>
    @inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

    @{
        ViewData["Title"] = Localizer["Products"];
    }

    <h2>@Localizer["Products"]</h2>
    <a asp-action="Create" class="btn btn-success mb-2">@Localizer["AddProduct"]</a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Localizer["Name"]</th>
                <th>@Localizer["Price"]</th>
                <th>@Localizer["Stock"]</th>
                <th>@Localizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price ₺</td>
                    <td>@item.Stock</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-warning btn-sm">@Localizer["Edit"]</a>
                        <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger btn-sm">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
